.a {
  background-color: aliceblue;
}

.b {
  background-color: aqua;
}

.c {
  background-color: aquamarine;
}

.d {
  background-color: azure;
}

.e {
  background-color: bisque;

}

.f {
  background-color: blanchedalmond;
}

.g {
  background-color: blue;
}

.h {
  background-color: blueviolet;
}

.i {
  background-color: brown;
}

/* mobile views */
@media only screen and (min-width: 375px) and (max-width: 767px) {
  main {
    flex-direction: column;
  }

  section {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cd {
    flex-direction: column;
  }

  .a {
    background-color: aliceblue;
    width: 480px;
    height: 75px;
  }
  
  .b {
    background-color: aqua;
    width: 480px;
    height: 150px;
  }
  
  .c {
    background-color: aquamarine;
    width: 480px;
    height: 125px;
  }
  
  .d {
    background-color: azure;
    width: 480px;
    height: 125px;
  }
  
  .e {
    background-color: bisque;
    width: 240px;
    height: 250px;
  }
  
  .f {
    background-color: blanchedalmond;
    width: 240px;
    height: 250px;
  }
  
  .g {
    background-color: blue;
    width: 240px;
    height: 250px;
  }
  
  .h {
    background-color: blueviolet;
    width: 240px;
    height: 250px;
  }
  
  .i {
    background-color: brown;
    width: 480px;
    height: 80px;
  }

}

/* tablet views */
@media only screen and (min-width: 768px) and (max-width: 960px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container {
    width: 760px;
    position: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .small {
    width: 760px;
    position: flex;
  }

  .ef {
    flex-direction: row;
  }

  .gh {
    flex-direction: row;
  }

  .a {
    background-color: yellowgreen;
    width: 100%;
    height: 100px;
  }
  
  .b {
    background-color: yellow;
    width: 200px;
    height: 600px;
  }
  
  .c {
    background-color: whitesmoke;
    width: 380px;
    height: 200px;
  }
  
  .d {
    background-color: wheat;
    width: 380px;
    height: 200px;
  }
  
  .e {
    background-color: violet;
    width: 190px;
    height: 250px;
  
  }
  
  .f {
    background-color: turquoise;
    width: 190px;
    height: 250px;
  }
  
  .g {
    background-color: tomato;
    width: 190px;
    height: 250px;
  }
  
  .h {
    background-color: thistle;
    width: 190px;
    height: 250px;
  }
  
  .i {
    background-color: teal;
    width: 760px;
    height: 150px;
  }
}

/* desktop views */
@media only screen and (min-width: 960px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container {
    width: 760px;
    position: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .small {
    width: 760px;
    position: flex;
  }

  .ef {
    flex-direction: row;
  }

  .gh {
    flex-direction: row;
  }

  .a {
    background-color: honeydew;
    width: 100%;
    height: 100px;
  }
  
  .b {
    background-color: hotpink;
    width: 200px;
    height: 600px;
  }
  
  .c {
    background-color: indianred;
    width: 380px;
    height: 200px;
  }
  
  .d {
    background-color: indigo;
    width: 380px;
    height: 200px;
  }
  
  .e {
    background-color: ivory;
    width: 190px;
    height: 250px;
  
  }
  
  .f {
    background-color: khaki;
    width: 190px;
    height: 250px;
  }
  
  .g {
    background-color: lavender;
    width: 190px;
    height: 250px;
  }
  
  .h {
    background-color: lawngreen;
    width: 190px;
    height: 250px;
  }
  
  .i {
    background-color: lightcoral;
    width: 760px;
    height: 150px;
  }
}
